## Q1.write a code to get the following ouput....'I love python program'

In [1]:
x ='i LoVe pYtHoN PrOGrAm'
x.capitalize()

'I love python program'

### Q2.write a code to get the following ouput....output-: 'I Love Python Program'

In [2]:
x.title()

'I Love Python Program'

### Q3.write a code to get the following ouput....output-: 'i love python program'

In [3]:
x.lower()

'i love python program'

### Q4.write a code to get the following ouput....output-: 'I LOVE PYTHON PROGRAM'

In [4]:
x.upper()

'I LOVE PYTHON PROGRAM'

### Q5.write a code to get the following ouput....output-: ['i', 'LoVe', 'pYtHoN', 'PrOGrAm']

In [5]:
x.split()

['i', 'LoVe', 'pYtHoN', 'PrOGrAm']

### Q6.use format method to inject the following name and age variable in given variable named string

In [6]:
name="python"
age=30
string="my name is {} and my age is {}"
print(string.format(name,age))

my name is python and my age is 30

### Q7.write a code to retrieve the word 'pYtHoN' by using slicing from variable x  output-: 'pYtHoN'

In [7]:
x[7:13]

'pYtHoN'

### Tuple            t = (2,1,4,6,2,1,4,1,2,7,1)

### Q1.write the code to count the frequency of 1

In [9]:
t = (2,1,4,6,2,1,4,1,2,7,1)
t.count(1)

4

### Q2.write a code to merge tuple t with (11,12,13,14) & store in variable named newt

In [11]:
t1=(11,12,13,14)
newt=t+t1
newt

(2, 1, 4, 6, 2, 1, 4, 1, 2, 7, 1, 11, 12, 13, 14)

### List x = [2,4,6,8,10]

### Q1.write a code to add a element 'eleven' , inside list at the end ====>output-:[2,4,6,8,10,'eleven']

In [32]:
x = [2,4,6,8,10]
x.append('eleven')
x

[2, 4, 6, 8, 10, 'eleven']

### Q2.perform an operation to get the following output===> output-: ['one', 2, 4, 6, 8, 10, 'eleven']

In [33]:
x.insert(0,'one')
x

['one', 2, 4, 6, 8, 10, 'eleven']

### Q3.perform an operation to merge the list y inside list x==> y= [12,13,14]    ===>output-: ['one', 2, 4, 6, 8, 10, 'eleven', 12, 13, 14]

In [34]:
y=[12,13,14]
x+y

['one', 2, 4, 6, 8, 10, 'eleven', 12, 13, 14]

### Q4.perform an operation to get the following output ===> output-: [14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'one']

In [35]:
a=(x+y)
a.reverse()
a

[14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'one']

### Q5.Perform one single operation to remove 'eleven', 10, 8 all together at once ===>output-: [14, 13, 12, 6, 4, 2, 'one']

In [36]:
del a[3:6]
a

[14, 13, 12, 6, 4, 2, 'one']

### Q6.write a code to remove 'one' element from the list ==> output-: [14, 13, 12, 6, 4, 2]

In [37]:
a.pop(-1)

'one'

In [38]:
a

[14, 13, 12, 6, 4, 2]

### Q7.write a code to get the following output ===> output-: 'hey there hello world'

In [39]:
# given
x = ["hey","there","hello","world"]
y= " "
y.join(x)

'hey there hello world'

### Dictionary   ====> d = {'a':10,'b':30,'c':50,'d':100}

### Q1.write a code to update the value of key 'b' to 300 ===> output-: {'a':10,'b':300,'c':50,'d':100}

In [66]:
d = {'a':10,'b':30,'c':50,'d':100}
d['b']=300
d

{'a': 10, 'b': 300, 'c': 50, 'd': 100}

### Q2.write a code to check if key 'e' is present in dictionary d ,  if it 'e' is not present in d, then it should return 'e key does not exist'    =====>  output-: 'e key does not exist'

In [67]:
d.get('e','e key does not exist')

'e key does not exist'

### Q3.write a code to add new key,value  i.e 'e',600 respectively inside dictionary d ==> output-: {'a':10,'b':300,'c':50,'d':100,'e':600}

In [68]:
a={'e':600}
d.update(a)
d

{'a': 10, 'b': 300, 'c': 50, 'd': 100, 'e': 600}

### Q4.write a code to display all the values from the dictionary  ====> output-: dict_values([10, 300, 50, 100, 600])

In [69]:
d.values()

dict_values([10, 300, 50, 100, 600])

### Q5.write a code to merge the dictionary x inside dictionry d

### x = {'i':11,'j':12,'k':13,'l':14}   ====> output-: {'a':10,'b':300,'c':50,'d':100,'e':600,'i':11,'j':12,'k':13,'l':14}

In [70]:
x = {'i':11,'j':12,'k':13,'l':14}
d.update(x)
d

{'a': 10,
 'b': 300,
 'c': 50,
 'd': 100,
 'e': 600,
 'i': 11,
 'j': 12,
 'k': 13,
 'l': 14}

### Q6.write a code to remove the key 'j' from dictionary d  ===>output-{'a':10,'b':300,'c':50,'d':100,'e':600,'i':11,'k':13,'l':14}

In [71]:
d.pop('j')
d

{'a': 10, 'b': 300, 'c': 50, 'd': 100, 'e': 600, 'i': 11, 'k': 13, 'l': 14}

### Set a = {1,2,3,4,5} ,b = {3,4,5,6,7,8,9}

### Q1. Write a code to perform union operation on a and b set

In [73]:
a = {1,2,3,4,5} 
b = {3,4,5,6,7,8,9}
a|b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Q2. Write a code to perform intersection operation on set a and b

In [74]:
a&b

{3, 4, 5}

### Q3. Write a code to add 6, in set a

In [77]:
a.add(6)
a

{1, 2, 3, 4, 5, 6}

### Operators

### Area of triangle (0.5xbxh)

In [92]:
b=float(input("enter base of triangle  "))
h=float(input("enter height of triangle  "))
triangle_area=0.5*b*h
print("area of triangle = {:.2f}".format(triangle_area))

enter base of triangle  5.6
enter height of triangle  2.3
area of triangle = 6.44

### vol of sphere(4/3)x3.14x(r^3)

In [89]:
r=float(input("enter radius of sphere"))
sphere_volume=(4/3)*3.14*(r**3)
print("volume of sphere = {0:.2f}".format(sphere_volume))

enter radius of sphere5.6
volume of sphere = 735.25

### Swap the variable x=10,y=5

In [95]:
x=10
y=5
print("before swapping : ",x)
print("before swapping : ",y)
z=x
x=y
y=z
print("after swapping : ",x)
print("after swapping : ",y)

before swapping :  10
before swapping :  5
after swapping :  5
after swapping :  10

### WAP which takes two numbers as input and it should calculate & display all the arithmetic operation

In [100]:
a=float(input("enter any no.  "))
b=float(input("enter any no.  "))
print()
print("addition : ",a+b)
print("substraction : ",a-b)
print("multiplication : ",a*b)
print("division : ",a/b)
print("perfect division : ",a//b)
print("remender : ",a%b)

enter any no.  14
enter any no.  5

addition :  19.0
substraction :  9.0
multiplication :  70.0
division :  2.8
perfect division :  2.0
remender :  4.0

### Flow Control

### WAP for check a number is leap year or not by using following constraints-:

In [104]:
#y=int(input("enter any year  "))
def leap(n):
    if (n%4==0 and n%100!=0) or (n%400==0):
        print(n, "is leap year")
    else:
        print(n, "is not leap year")
leap(2020)
leap(2021)
leap(1700)

2020 is leap year
2021 is not leap year
1700 is not leap year

### WAP to display the grade given a mark by using following constraint-:

In [ ]:
Constraints -:

	75 & above  -: A grade

	60-74		-: B grade  

	35-59		-: C grade

	Below 35	-: Fail

In [105]:
marks=int(input("enter any marks  "))
if marks>=75 :
    print("A grade")
elif marks>=60 and marks<=74:
    print("B grade")
elif marks>=35 and marks<=59:
    print("C grade")
elif marks<35:
    print("fail")

enter any marks  45
C grade

### WAP to check weather the number is even or odd

In [106]:
n=int(input("enter any no. "))
if n%2==0:
    print(n," is even")
else:
    print(n," is odd")

enter any no. 56
56  is even

### LOOPs

### WAP to print 1-10 using while loop

In [107]:
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### WAP to print 10-1 using while loop

In [109]:
i=10
while(i>=1):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

### WAP to print nth fibonacci series using while loop

In [112]:
n=int(input("enter any no. "))
i=0
i1=1
while i<=n:
    print(i)
    a=i+i1
    i=i1
    i1=a

enter any no. 10
0
1
1
2
3
5
8

### WAP to calculate the factorial of number using while loop

In [113]:
n=int(input("enter any no. "))
i=1
fact=1
while i<=n:
    fact=fact*i
    i+=1
print("factorial of ",n,"is",fact)

enter any no. 5
factorial of  5 is 120

### WAP to print the sum of  1st nth natural numbers using while loop

In [114]:
n=int(input("enter any no. "))
i=1
sum=0
while i<=n:
    sum=sum+i
    i+=1
print("Sum of 1st",n,"no. is:- ",sum)

enter any no. 10
Sum of 1st 10 no. is:-  55

### WAP to print the table of given N using while loop

In [116]:
n=int(input("enter any no. "))
i=1
while i<=10:
    table=i*n
    i+=1
    print(table)

enter any no. 5
5
10
15
20
25
30
35
40
45
50

### WAP to print 1-10 using for loop

In [130]:
n=int(input("enter any no. "))
for i in range(1,n+1):
    print(i)

enter any no. 10
1
2
3
4
5
6
7
8
9
10

### WAP to print 10-1 using for loop

In [131]:
n= int(input("enter any no. "))
for i in range(n,0,-1):
    print(i)

enter any no. 10
10
9
8
7
6
5
4
3
2
1

### WAP to print nth fibonacci series

In [140]:
n=int(input("enter any no. "))
first=0
second=1

for i in range(0,n+1):
        print(first)
        next=first+second
        first=second
        second=next
#        print(next)

enter any no. 10
0
1
1
2
3
5
8
13
21
34
55

### WAP to calculate the factorial of number using for loop

In [146]:
n=int(input("enter any no. "))
fact=1
for i in range (1,n+1):
    fact=fact*i
print(fact)

enter any no. 5
120

### WAP to add 1st nth natural using for loop

In [147]:
n=int(input("enter any no. "))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

enter any no. 10
55

### WAP to print the table of given N using for loop

In [148]:
n=int(input("enter any no. "))
for i in range(1,11):
    table=n*i
    print(table)

enter any no. 25
25
50
75
100
125
150
175
200
225
250

### WAP to list out all the leap years from 1900-2030 using for loop

In [149]:
for i in range(1999,2031):
    if (i%4==0 and i%100!=0) or i%400==0:
        print(i,"is leap year")
    else:
        print(i,"is not leap year")

1999 is not leap year
2000 is leap year
2001 is not leap year
2002 is not leap year
2003 is not leap year
2004 is leap year
2005 is not leap year
2006 is not leap year
2007 is not leap year
2008 is leap year
2009 is not leap year
2010 is not leap year
2011 is not leap year
2012 is leap year
2013 is not leap year
2014 is not leap year
2015 is not leap year
2016 is leap year
2017 is not leap year
2018 is not leap year
2019 is not leap year
2020 is leap year
2021 is not leap year
2022 is not leap year
2023 is not leap year
2024 is leap year
2025 is not leap year
2026 is not leap year
2027 is not leap year
2028 is leap year
2029 is not leap year
2030 is not leap year

### WAP to give all the even and odd number in list from 1-100 using for loop

In [150]:
for i in range(1,101):
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

### wap to reverse a number     ==>input -: 7546 ====>ouput -: 6457

In [151]:
a=int(7546)
i=0
res=0
while a>0:
    rem=a%10
    res=(res*10)+rem
    a=a//10
print(res)

6457

### WAP to check whether the given number is palindrome or not

In [154]:
# palindrome no. reversed no. is exactly equal to original no.
n=int(input("enter any no. "))
temp=n
i=0
res=0
while n>0:
    rem=n%10
    res=(res*10)+rem
    n=n//10
if temp==res:
    print(temp,"is palindrome no.")
else:
    print(temp,"is not palindrome no. ")

enter any no. 121
121 is palindrome no.

### WAP to check whether the given number is armstrong or not

In [159]:
# sum of cube of each digit is called armstrong no.
n=int(input("enter any no. "))
temp=n
i=0
res=0
while n>0:
    rem=n%10
    res=res+rem**3
    n=n//10
if temp==res:
    print(temp,"is armstrong no.")
else:
    print(temp,"is not armstrong no.")

enter any no. 153
153 is armstrong no.

### WAP to check whether the given number is Strong or not

In [165]:
# strong no==> sum of factorial of each digit equal to original no.
def factorial(a):
    fact=1
    for i in range(1,a+1):
        fact=fact*i
    return fact
#factorial(5)
n=int(input("enter any no. "))
i=0
res=0
temp=n
while n>0:
    rem=n%10
    res=res+factorial(rem)
    n=n//10
if temp==res:
    print(temp,"is strong no.")
else:
    print(temp,"is not strong no.")

enter any no. 145
145 is strong no.

### WAP to check whether the given number is Neon or not

In [169]:
# neon no.==> square of sum of each digit is equal to original digit
n=int(input("enter any no. "))
i=0
res=0
temp=n
while n>0:
    rem=n%10
    res=res+rem
    n=n//10
if temp==res**2:
    print(temp,"is neon no.")
else:
    print(temp,"is not neon no.")

enter any no. 81
81 is neon no.

### List comprehension

### using list comprehension store all the even numbers from 1 to 100 in a list

In [174]:
a=[x for x in range(1,101) if x%2==0]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

### using list comprehension store all Leap year from 1900 to 2030 in a list

In [177]:
b=[i for i in range(1900,2031) if (i%4==0 and i%100!=0) or (i%400==0)]
b

[1904,
 1908,
 1912,
 1916,
 1920,
 1924,
 1928,
 1932,
 1936,
 1940,
 1944,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016,
 2020,
 2024,
 2028]

### using list comprehension, store cubes of natural number from 1-20 in a list

In [179]:
c=[i**3 for i in range(1,21)]
c

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000]

### library = [('book1',2002),('book2',2012),('book3',2007),('book4',2015),('book5',2005),('book6',2018)]  Given a list lib, using list comprehension store all the books that was published after 2010

In [181]:
library = [('book1',2002),('book2',2012),('book3',2007),('book4',2015),('book5',2005),('book6',2018)] 

lib=[book for (book,year) in library if year>2010]
lib

['book2', 'book4', 'book6']

### grammar = ['is','not','am','are','do','did','no','will','never','shall','none','was','nor'] Given a list grammar, using list comprehension, filter all the negative words that starts with 'n'

In [189]:
grammar = ['is','not','am','are','do','did','no','will','never','shall','none','was','nor']
a=[x for x in grammar if x.startswith('n')]
a

['not', 'no', 'never', 'none', 'nor']

In [193]:
x= [1,2,3]

y=['a','b','c']



#Given two list x and, using list comprehension take the cross product of x and y-:
cp=[(a,b) for a in x for b in y]
cp

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [ ]:
print the following start parttern-:

start parttern 1

*

**

***

****

In [194]:
n=int(input("enter any no. "))
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
    print()

enter any no. 5
*
**
***
****
*****

In [ ]:
start parttern 2

****

***

**

*

In [195]:
n=int(input("enter any no. "))
for i in range(n,0,-1):
    for j in range(i):
        print("*",end="")
    print()

enter any no. 5
*****
****
***
**
*

In [ ]:
start parttern 3

*

**

***

****

***

**

*

In [197]:
n=int(input("enter any no. "))
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
    print()
for i in range(n-1,0,-1):
    for j in range(i):
        print("*",end="")
    print()

enter any no. 4
*
**
***
****
***
**
*

### Functions

### Create a function to calculate the the area of triangle

In [200]:
def area_of_tringle(b,h):
    return 0.5*b*h
a=area_of_tringle(5,3)
print(a)
b=area_of_tringle(6.4,7.6)
print(b)

7.5
24.32

### Create a function that calculates the the volume of sphere

In [203]:
def volume_of_sphere(r):
    return (4/3)*3.14*(r**3)
a=volume_of_sphere(5)
print(a)
b=volume_of_sphere(4.5)
print(b)

523.3333333333334
381.51

### WAP  to create function of prime no

In [211]:
def prime(n):
    if n==1:
        print("nor prime not composite")
    elif n>=2:
        count=0
        for i in range(2,n):
            if n%i==0:
                count+=1
                break
        if count==0:
            print( n,"is prime no")
        else:
            print (n,"is not prime no.")
prime(7)
prime(8)

7 is prime no
8 is not prime no.

### WAP to create a function of perfect number

In [221]:
# perfect no.===> sum of diviser is equl to the original no
#n=int(input("enter any no. "))
def perfect(n):
    i=1
    sum=0
    while i<n:
        if n%i==0:
            sum=sum+i
        i+=1
    if n==sum:
        print(n,"is perfect no.")
    else:
        print(n,"is not perfect no.")
perfect(6)
perfect(7)
perfect(24)
perfect(28)

6 is perfect no.
7 is not perfect no.
24 is not perfect no.
28 is perfect no.

### WAP to create a function of neon number

In [231]:
# neon no. ==> square of sum of digits is equal to original digit
def neon(n):
    i=0
    res=0
    temp=n
    n=n*n
    while n>0:
        rem=n%10
        res=res+rem
        n=n//10
    if temp==res:
        print(temp,'is perfect no.')
    else:
        print(temp,'is not perfect no.')
neon(45)
neon(121)
neon(9)

45 is not perfect no.
121 is not perfect no.
9 is perfect no.

### WAP for factorial using recurrsion

In [238]:
#n=int(input("enter any no."))
def factorial(n):
    
    if n==1:
        return 1
    else:
        return n*factorial(n-1)
        
a=factorial(5)
print(a)
b=factorial(4)
print(b)

120
24

In [ ]:
Q.Item with highest value count

items = [{'apple': 5}, {'banana': 8}, {'orange': 7}, {'grapes': 4}]

In [258]:
items = [{'apple': 5}, {'banana': 8}, {'orange': 7}, {'grapes': 4}]
for i in items:
    item[0]
    a=max(i,key=i.get)
    
    print(a)

apple
banana
orange
grapes