### Display three string "Name" ,"Is" ,"James" as "Name ** Is**James"

In [2]:
a="Name"
b="Is"
c="James"
print(a,b,c,sep="**")

Name**Is**James

### Convert Decimal number to octal using print() output formatting

In [11]:
a=8
print(oct(a))
print('%o'%a)

0o10
10

### display the float number with 2 decimal places using print()

In [18]:
b=2345.10987
print('%.2f'%b)

2345.11

### Accept a list of 5 float numbers as an input from the user

In [20]:
lst=[]
for i in range(5):
    n=float(input("enter a number = "))
    lst.append(n)
print(lst)

enter a number = 12.5
enter a number = 23.6
enter a number = 65.2
enter a number = 95.3
enter a number = 62.5
[12.5, 23.6, 65.2, 95.3, 62.5]

### Write  all content of given file into a new file by skipping line number 5.

In [22]:
fp=open('text.txt','r')
x=fp.readlines()
fp1=open('text1.txt','w')
count=0
for line in x:
    if count==4:
        count+=1
        continue
    else:  
        fp1.write(line)
        
    count+=1   
fp.close()
fp1.close()