### Print first 10 natural numbers using while loop

In [3]:
n=1
while n<=10:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

### Print following pattern

In [10]:
#1
#12
#123
#1234
#12345
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [11]:
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

In [12]:
for i in range(5,0,-1):
    for j in range(i):
        print(i,end="")
    print()

55555
4444
333
22
1

In [17]:
for i in range(1,6):
    for j in range(6,i,-1):
        print(i,end="")
    print()

11111
2222
333
44
5

In [18]:
for i in range(5,0,-1):
    for j in range(i):
        print(i,end="")
    print()

55555
4444
333
22
1

In [20]:
for i in range(5,0,-1):
    for j in range(i):
        print("5",end="")
    print()

55555
5555
555
55
5

In [31]:
for i in range(6,0,-1):
    for j in range(i):
        print(j,end="")
    print()

012345
01234
0123
012
01
0

### Alternate number pattern using while loop

In [4]:
#1
#33
#555
#7777
#99999
for i in range(1,6):
    for j in range(i):
        print(i*2-1,end="")
    print()

1
33
555
7777
99999

In [7]:

i=1
while i<6:
    j=1
    while j<=i:
        
        print(i*2-1,end="")
        j+=1
    i+=1    
    print()

1
33
555
7777
99999

### Reverse Pyramid of Number

In [9]:
#1
#21
#321
#4321
#54321

for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end="")
    print()

1
21
321
4321
54321

### another reverse no.pattern

In [10]:
#54321
#4321
#321
#21
#1

for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end="")
    print()

54321
4321
321
21
1