### Number triangle pattern

In [ ]:
        1 
      1 2  
    1 2 3 
  1 2 3 4 
1 2 3 4 5

In [15]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print(k,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

### Pascalâ€™s triangle pattern using numbers

In [ ]:
      1 
     1 1 
    1 2 1 
   1 3 3 1 
  1 4 6 4 1 
 1 5 10 10 5 1 
1 6 15 20 15 6 1

In [6]:
from math import factorial
n = 6
for i in range(n):
    for j in range(n-i+1):
 
        # for left spacing
        print(end=" ")
 
    for j in range(i+1):
 
        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
 
    # for new line
    print()

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

### Square pattern with numbers

In [ ]:
1 2 3 4 5 
2 2 3 4 5 
3 3 3 4 5 
4 4 4 4 5 
5 5 5 5 5

In [7]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

### Multiplication table pattern

In [ ]:
1  
2  4  
3  6  9  
4  8  12  16  
5  10  15  20  25  
6  12  18  24  30  36  
7  14  21  28  35  42  49  
8  16  24  32  40  48  56  64

In [8]:
n=8
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

### Downward half-Pyramid Pattern of Star

In [ ]:
* * * * *  
* * * *  
* * *  
* *  
*

In [9]:
n=5
for i in range(n,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

### Print two pyramids of stars

In [ ]:
*  
* *  
* * *  
* * * *  
* * * * *  
* * * * * *  
 
* * * * * *  
* * * * *  
* * * *  
* * *  
* *  
*

In [10]:
n=6
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()   
print()
for i in range(n,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

### Right start pattern of star or right pascal triangle

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [11]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()  
for i in range(n-1,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### leftt pascal triangle

In [ ]:
        * 
      * * 
    * * * 
  * * * * 
* * * * * 
  * * * * 
    * * * 
      * * 
        *

In [14]:

n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

### Diamond-shaped pattern of stars

In [ ]:
        * 
       * * 
      * * * 
     * * * * 
    * * * * * 
   * * * * * * 
    * * * * * 
     * * * * 
      * * * 
       * * 
        *

In [13]:
n=5
for i in range (1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(n-1,0,-1): 
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

### Another diamond pattern of star

In [ ]:
    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [19]:
n=5

for i in range(0,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(1):
        print("*",end=" ")
    for j in range(0,i-1):
        print(" ",end=" ")
    for j in range(1):
        print("*",end=" ")
    print()
for i in range(n-1,-1,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(1):
        print("*",end="")
    for j in range(i):
        print(" ",end=" ")
    for j in range(1):
        print("*",end="")
    print()

     * *
    * *
   *   *
  *     *
 *       *
*         *
 *        *
  *      *
   *    *
    *  *
     **